/*
	Iridium by TEMPLATED
    templated.co @templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/

/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	body
	{
	}
	.homepageview{
		padding-top:55px
	}
	body,input,textarea,select
	{
		font-size: 11pt;
	}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header
	{
		margin:0px;
		position: relative;
		padding: 0em 0em;
		text-align: center;
	}
	
		.homepage #header
		{
			padding: 0em 0em;
			margin:0px;
			height:70px;
		}

		#header .container
		{
			height:10px;
		}
	.header1
	{
		background-color:#800040;
		
	}
/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

	#logo
	{
		margin-bottom: 3em;
		width:350px;
		float:left;
	}
	
		#logo h1
		{
			color: #FFF;
			padding-top:1.5em;
		}
	
		#logo h1 a
		{
			display: block;
			letter-spacing: 1px;
			text-align: left;
			text-decoration: none;
			text-transform: uppercase;
			font-size: 3em;
			font-weight: 900;
			color: #FFF;
		}

		#logo span
		{
			display: block;
			padding-top: 1em;
			letter-spacing: 1px;
			text-transform: uppercase;
			font-size: 1.2em;
			color: rgba(255,255,255,.5);
		}			
			

/*********************************************************************************/
/* Nav                                                                           */
/*********************************************************************************/

	#nav
	{
	margin-top:0px;
	background-color:#d0d0d0;
	text-align:left;
	padding-left:10em;
	}

		#nav > ul > li
		{
			display: inline-block;
			cursor:pointer;
			
		}
		
			#nav > ul > li:last-child
			{
				padding-right: 0;
				
			}

			#nav > ul > li > a
			
			{
				display: block;
				padding: 5px 1em;
				letter-spacing: 1px;
				text-decoration: none;
				text-transform: uppercase;
				font-weight: 200;
				font-size: 1.4em;
				outline: 0;
				color: #4c4c4c;
			}
			#nav > ul > li:nth-child(6)
			{
			float:right;
			}
			#nav > ul > li:nth-child(7)
			{
			float:right;
			}

/*			#nav > ul > li > a:hover
			{
				color: #FFF;
			}
*/
			
			#nav > ul > li a:hover
			
			{
				background-color: #FFF;
				margin: 0px;
			}
			#nav li.active a
			
			{
				background: none;
				border-radius: 40px;
				border: 2px solid;
				border-color: rgba(255,255,255,.8);
				color: #FFF;
			}

			#nav > ul > li > ul
			{
				display: none;
			}


/*********************************************************************************/
/* Main                                                                          */
/*********************************************************************************/

	#main
	{
		padding: 4em 0em 4em 0em;
	}
	
	#content
	{
		
	}
	
	#content header
	{
		margin-bottom: 2em;
	}
	
	#content header h2
	{
		font-size: 3em;
	}
	
	#content header .byline
	{
		font-size: 1.40em;
	}
	#content section{
		padding-bottom:50px;
		border-bottom: solid 1px #E0E0E0;
	}
	
	#sidebar h2
	{
		display: block;
		padding-bottom: 2em;
		padding-top:0.5em;
		font-size: 3.8em;
	}
	
	#sidebar-view{
		padding-left:0px;
	}
	#sidebar-viewR{
		padding-left:70px;
	}
	#sideview > li > img{
		border:solid 3px #BEBEBE;
		margin-top:5px;
		width:220px;
		
	}
	
	#viewimg{
		display: inline-block;
		width:1000px;
	}
	#viewimg > a{
		float:left;
		padding:30px 20px 10px 0px;
	}
	#viewimg > a > img{
		max-width:650px;
		max-height:500px;
	}
	#viewtable {
		margin-top:30px;
		
	}
	#viewtable > tbody > tr {
		padding:5px;
		border:solid 2px #FFF;
		height:60px;
	}
	#viewtable > tbody > tr >th {
		padding:15px 5px 5px 5px;
		background-color: #BEBEBE;
		width:50px;
	}
	#viewtable > tbody > tr > td{
		padding:5px;
		background-color: #F0F0F0;
	}

/*********************************************************************************/
/* Featured                                                                      */
/*********************************************************************************/
	
	#featured
	{
		padding: 6em 0em;
	}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/
	
	#footer
	{
		position: relative;
		padding: 6em 0em;
	}
	
	#footer h2
	{
		padding-bottom: 2em;
		font-size: 1.4em;
	}
	
/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/
	
	#copyright
	{
		padding: 3em 0em;
	}		
/*********************************************************************************/
/* Login                                                                    */
/*********************************************************************************/

.modal-header, h4, .close {
      background-color: #0066CC;
      color:white;
      text-align: center;
      font-size: 25px;
  }
  .modal-footer {
      background-color: #f9f9f9;
  }

