<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
<!-- 		<property name="hibernate.connection.datasource">java:/comp/env/jdbc/ELDB</property> -->
<!-- 		<property name="hibernate.connection.datasource">java:comp/env/jdbc/xxx</property> -->
		<!-- 連線池c3p0設定 -->
		<property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
		<property name="hibernate.connection.url">jdbc:sqlserver://i7zjbwchx7.database.windows.net:1433;database=EnjoyLife</property>
		<property name="hibernate.connection.username">enjoylife</property>
		<property name="hibernate.connection.password">P@ssw0rd</property>      
		<property name="hibernate.connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
		<property name="hibernate.c3p0.min_size">5</property>
		<property name="hibernate.c3p0.max_size">20</property>
		<property name="hibernate.c3p0.timeout">1800</property>
		<property name="hibernate.c3p0.max_statements">50</property>

		<property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>
		<property name="hibernate.show_sql">true</property>
<!-- 		<property name="hibernate.cache.provider_class">org.hibernate.cache.NoCacheProvider</property> -->
		<property name="hibernate.transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>
		<property name="hibernate.current_session_context_class">thread</property>

		<mapping resource="com/blog/model/BlogVO.hbm.xml" />
		<mapping resource="com/blog/model/BlogReplyVO.hbm.xml" />
		<mapping resource="com/blog/model/BlogSortVO.hbm.xml" />
		<mapping resource="com/blog/model/BlogTagsVO.hbm.xml" />
		<mapping resource="com/blog/model/ElSettingVO.hbm.xml" />
		<mapping resource="com/attendpartner/model/attendpartner.hbm.xml" />
		<mapping resource="com/partner/model/partner.hbm.xml" />
		<mapping resource="com/comment/model/comment.hbm.xml" />
<!-- 		<mapping resource="com/activity/model/activityBean.hbm.xml" /> -->

		<mapping resource="com/AttracModel/attrac.hbm.xml" />
		<mapping resource="com/AttracModel/cate1.hbm.xml" />
		<mapping resource="com/AttracModel/cate2.hbm.xml" />
		<mapping resource="com/AttracModel/counties.hbm.xml" />
		<mapping resource="com/AttracModel/dist.hbm.xml" />
		<mapping resource="com/AttracModel/photos.hbm.xml" />
		
		
		<mapping resource="com/little/model/LittleBean.hbm.xml"/>
  		<mapping resource="com/little/model/TargetListBean.hbm.xml"/>
  		<mapping resource="com/little/model/TypeListBean.hbm.xml"/>
  
	</session-factory>
</hibernate-configuration>
